body{
    margin:0 auto;
}
img{
    width: 100%;
    margin: 0 auto;
}

.container{
    
    margin:0 auto;
    background: #fff;
}
<<<<<<< HEAD
#home{
    
}
=======
nav{
    text-decoration: none;
}
.menu{
    padding: 6px 0 6px 40px;
    background: grey;

}
.menu a {
    color: honeydew;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arial Narrow Bold', sans-serif; 

}
.menu a:hover{
    color: lightgrey;
>>>>>>> 59d25fff0bdd9047d3b267db8adc391cb53094fc
